<div class="dashboard-container">
        <div class="ui-g">
                <div class="ui-g-8 line-chart">
                        <div class="line-chart-cnt">
                                <div class="ui-g-3">
                                        <div class="label">Status of Proposals</div>
                                        <div class="total-proposals">Total Proposals</div>
                                        <div class="total-proposal-count">
                                                {{totalProposalCountData?.totalAvailableProposals}}</div>
                                </div>
                                <div class="ui-g-9">
                                        <p-chart *ngIf="totalProposalbarChartData && displayProposalBarChart"
                                                type="horizontalBar" [data]="totalProposalbarChartData"
                                                [options]="totalProposalbarChartOptions" [responsive]="true"
                                                height="180"> </p-chart>
                                </div>
                        </div>
                </div>
                <div class="ui-g-4 trending-tags">
                                <div>
                                        <span class="label">Top Trending RFP Tags</span>
                                        <angular-tag-cloud class="custom-css" [config]="options" [data]="trendingTags"
                                                (clicked)="tagClicked($event)"></angular-tag-cloud>
                                </div>
                                
                </div>                

                    
        </div>

        <div class="ui-g pt-1">
                <div class="ui-g-12 proposal-by-account"><span class="label">Proposals by Account</span>
                        <p-chart type="bar" *ngIf="barChartData && barChartData.labels && barChartData.labels.length"
                                [data]="barChartData" [options]="barChartOptions" width="40%" height="auto"></p-chart>
                </div>                   
     
                <div class = "ui-g-12 trending-accounts"><span class="label">Top Trending Accounts</span>
                         <angular-tag-cloud class="custom-css" [config]="options" [data]="trendingAccounts"></angular-tag-cloud>
                </div>

                <div class = "ui-g-12 trending-BUs"><span class="label">Top Trending BUs</span>
                        <angular-tag-cloud class="custom-css" [config]="options" [data]="trendingBUs"></angular-tag-cloud>
               </div>
        </div> 
    
        
        <div class="ui-g pt-1">
                <div class="ui-g-8 pro-cont">
                        <div class="ui-g-2 collateral-status"><span class="col-status">Collaterals Status</span>
                                <div class="col-per">12.3%</div>
                                <div class="col-in">Increase from the last month</div>

                        </div>
                        <div class="ui-g-6 doughnut-comtainer">
                                <div class="ui-g-5 d-container">
                                        <div class="t-con">
                                                <div class="t-con-wr">
                                                        <div class="total-col-count">
                                                                {{collateralData?.totalCollateralsCount}}</div>
                                                        <div class="uploaded-Collateral"> # Uploaded Collaterals</div>
                                                </div>
                                        </div>
                                        <div class="c-con">
                                                <p-chart type="doughnut" width="100%" height="22vh" [data]="data"
                                                        [options]="doughnutOptions" [responsive]="true"></p-chart>
                                        </div>
                                </div>
                                <div class="ui-g-7 doughnut-label-container">
                                        <div class="vl" *ngFor="let collateral of collateralTypes">
                                                <div>
                                                        <hr [style.backgroundColor]="collateral?.color" align="left">
                                                        <div class="col-count">
                                                                {{collateral.data}}
                                                        </div>
                                                        <div class="col-type">{{collateral.name}}</div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="ui-g-4 tag-cont">
                        <div class="tags-addition">
                                <div class="row  mr-0 pd-0">
                                        <div class="col-md-5  mr-0 pd-0">
                                                <div class="tags-addition-label"># Tags Addition</div>
                                                <div class="tags-label-cntr">
                                                        <div class="total-annotated-collaterals-count">
                                                                <div class="text-center">
                                                                        <span>
                                                                                <i class="fa fa-arrow-up arrow-icon"
                                                                                        aria-hidden="true"></i>
                                                                        </span>
                                                                        <span>{{annotatedCollaterals?.TOTAL_COLATERAL_COUNT}}</span>
                                                                </div>
                                                                <div class="to-date">{{displaySelectedDate}}</div>
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="col-md-7  mr-0 pd-0">
                                                <div class="annotad-collaterals-count">
                                                        {{annotatedCollaterals?.TOTAL_TAGGED_COLATERAL_COUNT}}
                                                </div>
                                                <div class="annotad-collaterals-label">
                                                        Total Annotated Collaterals
                                                </div>
                                        </div>
                                </div>
                                <div class="row  mr-0 pd-0">
                                        <div class="tag-increase">15% Tags Increase from last month</div>
                                </div>
                        </div>
                </div>
        </div>

</div>